
body .ui-card {
    background-color: rgb(87,89,93);
    /*background-color: rgb(0, 150, 255);*/
    /*background-color: rgb(104,185,44);*/
}

#top {
    position: relative;
    /*background-color: #036fab;*/
    color: white;
    /*padding: 5px;*/
    margin: 0px 0px 0px 0px;
}

#bottom {
    position: relative;
    /*background-color: #c2dfef;*/
    /*padding: 5px;*/
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    /*background-color: #ece3a5;*/
    /*padding: 5px;*/
    width: 210px;
}

#right {
    float: right;
    /*background-color: #ece3a5;*/
    /*padding: 5px;*/
    width: 150px;
}

.center_content {
    position: relative;
    /*background-color: #dddddd;*/
    /*padding: 5px;*/
}

.left_content {
    /*background-color: #dddddd;*/
    /*padding: 5px;*/
    margin-top: 10px;
    margin-left: 260px;
    min-height: 180px;
}

.right_content {
    /*background-color: #dddddd;*/
    /*padding: 5px;*/
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}


.com_button {
}